<div fxLayout="row" style="padding-top: 10px;" fxLayoutAlign="space-around center" >
    <mat-form-field style="width: 200px;" >
        
    </mat-form-field>
    
</div>
    
  <!------------->
  <table class="table" >
    <thead style="padding-left: 20px;">
        <tr>
           <th><i>Liste des administrations : </i> </th>
           <th></th>
        </tr>
    </thead>
    <tbody style="padding-left: 20px;">
        <tr>
            <td><b>Administration de Stockage</b></td>
            <td><a href="intervention-AS">Voire les intervention</a></td>
        </tr>
        <tr>
            <td><b>Administration de Solution Métier</b></td>
            <td><a href="intervention-AM">Voire les intervention</a></td>
        </tr>
        <tr>
            <td><b>Administration de Gestion</b></td>
            <td><a href="intervention-AG">Voire les intervention</a></td>
        </tr>
        <tr>
            <td><b>Administration Backup et Archivage</b></td>
            <td><a href="intervention-ABA">Voire les intervention</a></td>
        </tr>
        <tr>
            <td><b>Administration Plateforme Virtuelle</b> </td>
            <td><a href="intervention-APV">Voire les intervention</a></td>
        </tr>
        <tr>
            <td><b>Administration Centre de Traitement</b></td>
            <td><a href="intervention-ACT">Voire les intervention</a></td>
        </tr>
    </tbody>
  </table>